# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
app_log.txt
fatal_exceptions_with_stack.txt
rules_version='2';.txt

# React Native
node_modules/
*.iml
*.hprof
*.orig
*.swp

# Metro
.metro/
metro-cache/

# Build artifacts
android/app/build/
android/app/.cxx/
ios/build/
android/android/

# Fastlane
ios/fastlane/report.xml
ios/fastlane/preview.html
ios/fastlane/screenshots/
ios/fastlane/test_output/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate

# Gradle
.gradle/
local.properties

# Misc
.env
.env.*
!.env.example
.DS_Store
.idea/
.vscode/
.firebaserc
firebase.json

# Signing artifacts
*.keystore
*.jks
android/keystores/
keystore.properties
*.pem
upload_cert.pem
android/app/google-services.json
ios/GoogleService-Info.plist

# Build artifacts
android/build/
log_crash.txt
metro.win.cjs
