<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ9zAgDLlghX15ptjPCL-GFkUmejSpgjw</string>
	<key>CLIENT_ID</key>
	<string>254703746068-bqb3464mot645ad12o0m0rs2896fcv72.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>254703746068</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:254703746068:ios:qa-placeholder-app-id</string>
	<key>PROJECT_ID</key>
	<string>orbitadrone-84049</string>
	<key>STORAGE_BUCKET</key>
	<string>orbitadrone-84049.appspot.com</string>
</dict>
</plist>
